<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PriceCar" value="20"/>
		<add key="PriceMc" value="10"/>
	</appSettings>
	<connectionStrings>
		<add name ="MightyKnights"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(localdb)\\MSSQLLocalDB"/>
	</connectionStrings>
</configuration>